.App {
  text-align: center;
}

.Card {
  background-image: url("https://thumbs.dreamstime.com/b/weather-forecast-wide-banner-day-night-opposites-nature-day-night-light-darkness-sun-moon-weather-forecast-wide-112900893.jpg");
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; 
  border: 2px solid;
  height: 300px;
  width: 600px;
  margin: 10% 30%;
  background-repeat: no-repeat;
}

.Card img {
  height: 150px;
  width: 150px;
  
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  background-color: aqua;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
}